DATABASE_URL=<YOUR_DATABASE_URL>
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_API_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
GOOGLE_API_KEY=
CRON_SECRET_TOKEN=your-secret-token-here
NEXT_PUBLIC_URL=

NEXT_PUBLIC_SHOW_SEARCH=true
NEXT_PUBLIC_SHOW_TESTING=true
NEXT_PUBLIC_SHOW_LOGS=true
